*, body {
  padding: 0%;
  margin: 0%;
}

.App {
  text-align: center;
}

.headertitle {
  margin-bottom: 4%;
}

.formPart { 
  padding: 1%;
  display: flex;
  justify-content: space-around;
}

.formPart h1 {
  font-family: 'Courier New', Courier, monospace;
  padding: 3%;
}


.formtable {
  background-color: aliceblue;
  width: 50%;
  padding: 2%;
}

.formtable form {
  background-color: #D6EEEE;
  padding: 3%;
}

.formtable p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
  font-size: 20px;
  margin-bottom: 1%;
}

.formtable input {
  padding: 1.5%;
  margin-bottom: 2%;
  border: 1px black solid;
  border-radius: .3em;
  width: 30%;
  background-color: #e1f5f5;
}

.formtable input:focus {
  border: blue solid 1px;
  outline: blue solid 1px;
}

.submit-button {
  padding: 1%;
  width: 10%;
  background-color: #D6EEEE;
  border: 1px solid black;
  border-radius: .5em;
  cursor: pointer;
  transition: all ease-out .5s;
  transform: scale(1);
}

.submit-button:hover {
  transition: all ease-in .5s;
  transform: scale(1.2);
}

.people {
  background-color: aliceblue;
  width: 50%;
  padding: 2%;
}

.peopleData {
  background-color: #D6EEEE;
  padding: 3%;
  overflow: auto;
  height: 42dvh;
  overflow-x: hidden;
}

.peopleData table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.peopleData table thead tr th{
  padding: 1%;
  font-size: 120%;
}

.peopleData table tbody tr td{
  padding: 1%;
  word-break: break-all;
}

.editModal {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.editModalDiv {
  width: 25%;
  height: 40%;
  background-color: #D6EEEE;
  padding: 1%;
}

.close {
  cursor: pointer;
  float: right;
}

.editform {
  float: left;
}

.editinfo {
  text-align: left ;
}

.editInput {
  margin-bottom: 3%;
  padding: 5%;
  border: 1px solid black;
  border-radius: .5em;
  background: inherit;
  width: 130%;
}

.editInput:focus{
  border: blue 1px solid;
  outline: blue 1px solid;
}

.submitEdit-button {
  padding: 3%;
  background-color: #D6EEEE;
  margin-top: 3%;
  border: 1px black solid;
  cursor: pointer; 
  width: 50%;
  transition: all ease-out .5s;
  transform: scale(1);
  border-radius: .5em;
}

.submitEdit-button:hover {
 transition: all ease-in .5s;
 transform: scale(1.2);
}
